/*Para los titulos*/
@font-face {
    font-family: 'titulo';
    src: url(../recursos/fuentes/Clethons\ Djoice.woff2) format(woff2);
}

/*Para el texto normal*/
@font-face {
    font-family: 'texto';
    src: url(../recursos/fuentes/MozillaHeadline-VariableFont_wdth\,wght.woff2) format(woff2);
}

:root {
    /*Paleta de colores*/
    --color-negro: #1A1A1A;          
    --color-azul-fuerte: #0D3B66;    
    --color-turquesa: #3D9CA8;       
    --color-crema: #F4E9CD;        
    --color-naranja: #F95738;        
    --color-rojo: #D7263D;          

    /*Tamaño para los textos*/
    --titulo: 60px;
    --subtitulo: 18px;
    --texto: 14px;

    /*Espaciados*/
    --espaciado: 10px;

    /*Borde redondeado*/
    --borde-redondeado: 4px;

    /*Sombra retro suave*/
    --sombra: 0 4px 12px rgba(0,0,0,0.15);
}

/*Para que todos los botones sean iguales por que hay muchos*/
